<div class="csa-main-title">Settings</div>
<div class="csa-body-text">Body</div>
<div class="csa-sub-title">GENERAL</div>
<div class="csa-main-body">
  <div class="csa-setting-item">
    <span>
      Launch on PC start
    </span>

    <div>
      <input id="launchOnStart" data-setting-type="launchOnStart" class="csa-control" type="checkbox"/>
      <label for="launchOnStart"><span></span></label>
    </div>
  </div>
  <div class="csa-setting-item">
    <span>
      Launch minimized in system tray
    </span>

    <div>
      <input id="launchMinimized" data-setting-type="launchMinimized" class="csa-control" type="checkbox"/>
      <label for="launchMinimized"><span></span></label>
    </div>
  </div>
  <div id="csa-setting-controls" class="csa-setting-controls hidden">
    <a id="cancelSettings" class="csa-button csa-control secondary">CANCEL</a>
    <a id="confirmSettings" class="csa-button csa-control main">SAVE</a>
  </div>
  <div id="csa-setting-confirmation" class="csa-setting-controls hidden">
    <a class="csa-button confirmation">SAVED</a>
  </div>
</div>
